:root {
  /* https://www.happyhues.co/palettes/2 */
  --n-background: #fffffe;
  --n-foreground: #1b2d45;
  --n-accent: #00214d;
  --n-highlight: #00ebc7;
  --n-secondary: #ff5470;
  --n-tertiary: #fde24f;

  /* https://colors.eva.design/ */
  --n-primary-100: #FFE4DC;
  --n-primary-200: #FFC2BA;
  --n-primary-300: #FF9A98;
  --n-primary-400: #FF7E87;
  --n-primary-500: #FF5470;
  --n-primary-600: #DB3D66;
  --n-primary-700: #B72A5B;
  --n-primary-800: #931A50;
  --n-primary-900: #7A1049;
  --n-primary-transparent-100: rgba(255, 84, 112, 0.08);
  --n-primary-transparent-200: rgba(255, 84, 112, 0.16);
  --n-primary-transparent-300: rgba(255, 84, 112, 0.24);
  --n-primary-transparent-400: rgba(255, 84, 112, 0.32);
  --n-primary-transparent-500: rgba(255, 84, 112, 0.4);
  --n-primary-transparent-600: rgba(255, 84, 112, 0.48);
  --n-success-100: #EBFDE4;
  --n-success-200: #D3FCCB;
  --n-success-300: #B4F7AE;
  --n-success-400: #97EF98;
  --n-success-500: #75E580;
  --n-success-600: #55C46A;
  --n-success-700: #3AA458;
  --n-success-800: #258448;
  --n-success-900: #166D3E;
  --n-success-transparent-100: rgba(117, 229, 128, 0.08);
  --n-success-transparent-200: rgba(117, 229, 128, 0.16);
  --n-success-transparent-300: rgba(117, 229, 128, 0.24);
  --n-success-transparent-400: rgba(117, 229, 128, 0.32);
  --n-success-transparent-500: rgba(117, 229, 128, 0.4);
  --n-success-transparent-600: rgba(117, 229, 128, 0.48);
  --n-info-100: #D4FDFE;
  --n-info-200: #A9F6FD;
  --n-info-300: #7EE7F9;
  --n-info-400: #5DD3F4;
  --n-info-500: #2AB6ED;
  --n-info-600: #1E8FCB;
  --n-info-700: #156CAA;
  --n-info-800: #0D4D89;
  --n-info-900: #083771;
  --n-info-transparent-100: rgba(42, 182, 237, 0.08);
  --n-info-transparent-200: rgba(42, 182, 237, 0.16);
  --n-info-transparent-300: rgba(42, 182, 237, 0.24);
  --n-info-transparent-400: rgba(42, 182, 237, 0.32);
  --n-info-transparent-500: rgba(42, 182, 237, 0.4);
  --n-info-transparent-600: rgba(42, 182, 237, 0.48);
  --n-warning-100: #FEFAD0;
  --n-warning-200: #FDF3A3;
  --n-warning-300: #FBEA74;
  --n-warning-400: #F8DF51;
  --n-warning-500: #F4D01A;
  --n-warning-600: #D1AF13;
  --n-warning-700: #AF8F0D;
  --n-warning-800: #8D7008;
  --n-warning-900: #755A04;
  --n-warning-transparent-100: rgba(244, 208, 26, 0.08);
  --n-warning-transparent-200: rgba(244, 208, 26, 0.16);
  --n-warning-transparent-300: rgba(244, 208, 26, 0.24);
  --n-warning-transparent-400: rgba(244, 208, 26, 0.32);
  --n-warning-transparent-500: rgba(244, 208, 26, 0.4);
  --n-warning-transparent-600: rgba(244, 208, 26, 0.48);
  --n-danger-100: #FEEDDB;
  --n-danger-200: #FDD7B8;
  --n-danger-300: #FBBB94;
  --n-danger-400: #F8A079;
  --n-danger-500: #F4754E;
  --n-danger-600: #D15139;
  --n-danger-700: #AF3327;
  --n-danger-800: #8D1B18;
  --n-danger-900: #750E14;
  --n-danger-transparent-100: rgba(244, 117, 78, 0.08);
  --n-danger-transparent-200: rgba(244, 117, 78, 0.16);
  --n-danger-transparent-300: rgba(244, 117, 78, 0.24);
  --n-danger-transparent-400: rgba(244, 117, 78, 0.32);
  --n-danger-transparent-500: rgba(244, 117, 78, 0.4);
  --n-danger-transparent-600: rgba(244, 117, 78, 0.48);
}
