:root {
  --n-background: #FFFFFF;
  --n-accent-100: #EEEEEE;
  --n-accent-200: #CCCCCC;
  --n-accent-300: #AAAAAA;
  --n-accent-400: #999999;
  --n-accent-500: #777777;
  --n-accent-600: #555555;
  --n-accent-700: #333333;
  --n-accent-800: #111111;
  --n-foreground: #000000;

  /* https://flatuicolors.com/palette/de */
  --n-primary: #4b7bec;

  --n-success-600: #26de81;
  --n-success-800: #20bf6b;
  --n-warning-600: #fed330;
  --n-warning-800: #f7b731;
  --n-danger-600: #fc5c65;
  --n-danger-800: #eb3b5a;
  --n-info-600: #4b7bec;
  --n-info-800: #3867d6;
}
